*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app{
  background-image: url("../images/cover/cover.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
}
canvas{
  position: absolute;
}


